.Branding-Logo {
  height: 100%;
  width: 200px;
  margin: auto auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.Heading {
  color: grey;
  text-align: center;
  width: 60%;
  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
