:root {
  /* background-image */
  --gradient: linear-gradient(90.6deg, #02a1f9 0.3%, #29f19c 99.7%);
}

body {
  overflow: overlay;
  background-color: #fff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.7em;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}

body::-webkit-scrollbar-thumb {
  background-image: var(--gradient);
  border-radius: 15px;
}

.menu-container {
  width: 7%;
  height: 100vh;
  position: fixed;
  z-index: 60;
}

.main-container {
  width: 100%;
  height: 100vh;
  margin: auto auto;
}
