@media only screen and (max-width: 1024px) {
  .Mobile-Menu {
    display: inline-flex;
  }

  .Desktop-Menu {
    display: none;
  }
}

.Mobile-Menu {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1000 !important;
}

.menu-button {
  float: right;
}

.slide-out {
  clear: both;
  margin-top: 15px;
  height: 45%;
  width: 200px;
  background-color: #fff;
  transform: translateX(200px);
  border-radius: 50px 0 0 50px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  margin-top: 1%;
}

.slide-out.true {
  transform: translateX(0px);
}
