@media only screen and (max-width: 1024px) {
  .Mobile-Menu {
    display: inline-flex;
  }

  .Desktop-Menu {
    display: none;
  }
}

.Mobile-Menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  margin-top: 10px;
  z-index: 3100;
  background: #06060a;
  box-shadow: 0px 11px 21px 12px rgba(0, 0, 0, 0.5);
}

.Mobile-Menu nav {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  margin: auto auto;
  text-align: center;
}

.menu-item {
  margin-top: 30px;
}

.menu-button {
  background: #fff;
  padding: 2px 3px 2px 3px;
  border-radius: 50%;
  border: 0;
  position: relative;
  margin-bottom: 10px;
  z-index: 2020;
}

.slide-out {
  clear: both;
  margin-top: 15px;
  height: 45%;
  width: 200px;
  background-color: #fff;
  transform: translateY(200px);
  border-radius: 50px 50px 0 0px;
  overflow-y: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
}

.slide-out.true {
  transform: translateY(0px);
}
