@media only screen and (max-width: 1024px) {
  .Mobile-Menu {
    display: inline-flex;
  }

  .Desktop-Menu {
    display: none;
  }
}

.Mobile-Menu {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 10px;
  z-index: 1000;
}
