.Menu {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
}

.Menu a,
.Menu button {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.Menu p {
  display: inline;
  margin-right: 10px;
  font-size: calc(8px + 2vmin);
}

.loggedOut,
.loggedIn {
  display: inline-flex;
}

@media only screen and (min-width: 1024px) {
  .Mobile-Menu {
    display: none;
  }

  .Desktop-Menu {
    display: inline-flex;
  }
}
