.Landing {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 29;
  position: relative;
  height: 100vh;
  background-color: #06060a;
}

.Landing h1 {
  color: #fff;
  text-align: center;
  margin-top: -300px;
}

.alt-color {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#02a1f9),
    to(#29f19c)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  z-index: 999;
  position: relative;
  margin-top: -330px;
}

.hero-text h3 {
  font-size: 2em;
  width: 80%;
  font-family: kobenhavn-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: auto auto;
  color: #06060a;
  text-align: center;
}

.smallLogo {
  width: 120px;
  height: auto;
  display: block;
  margin: auto auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg {
  background-color: #fff;
}

.underline {
  width: 30%;
  height: 3px;
  background: var(--gradient);
  border: 0;
}

.sources {
  margin-top: 400px;
  color: #fff;
  text-align: center;
  z-index: 50;
  position: relative;
  color: #06060a;
}

.media-platforms {
  height: 100%;
  width: 300px;
  margin-left: -170px;
  margin-top: 20px;
}

.data h4,
.sources h4 {
  margin-bottom: 0;
  font-size: calc(15px + 2vmin);
  text-transform: uppercase;
  color: #06060a;
}

.curve {
  background-image: url('../../Assets/curve2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 2000px;
  z-index: 30;
  position: absolute;
  left: -1600px;
  margin-top: -430px;
  padding-bottom: 100px;
  right: 0;
}

.data {
  color: #fff;
  position: relative;
  z-index: 1000;
  margin-top: 200px;
  text-align: center;
}

.data p,
.sources p {
  clear: both;
  width: 80%;
  margin: auto auto;
  color: #06060a;
}

.chart-svg {
  margin-top: 40px;
  height: auto;
  width: 370px;
}

.sources-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

@media only screen and (min-width: 1024px) {
  .curve {
    height: 700px;
    width: 3000px;
    left: -20px;
    margin-top: -760px;
    padding-bottom: 100px;
  }

  .smallLogo {
    width: 240px;
  }

  .data p,
  .sources p {
    font-size: calc(6px + 2vmin);
    width: 100%;
    margin-right: 0;
  }

  .underline {
    width: 60%;
    height: 7px;
    float: right;
  }

  section {
    width: 70%;
    margin: auto auto;
  }

  .text {
    float: right;
    text-align: right;
    width: 40%;
  }

  .media-platforms {
    float: left;
    width: 600px;
    margin-top: 0;
  }

  .chart-svg {
    width: 660px;
  }
}
