.Desktop-Menu {
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
}

.Desktop-Menu .menuToggler {
  background: none;
  padding: 0;
  border: 0;
  display: inline;
  outline: none;
}

.Desktop-Menu nav.open {
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 2000;
  height: 100vh;
  width: 100px;
  z-index: 60;
  background-color: #06060a;
  display: inline-flex;
  justify-content: center;
}
.Desktop-Menu nav.closed {
  width: 0px;
}

.Desktop-Menu a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 0;
  margin-bottom: 10px;
  font-size: calc(2vmin + -3px);
}

.avatar-btn {
  background: transparent;
  border: 0;
  margin: 10px 0px 10px 0px;
  z-index: 50;
  position: relative;
}

.loggedIn {
  width: 100%;
}

.loggedIn .avatar {
  width: 40px;
  height: 100%;
  border: #22a6b3 2px solid;
  border-radius: 50%;
}

.menu-item a {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: -20px;
  margin-left: 5px;
}

.menu-item svg {
  margin-bottom: -7px;
}

.menu-item button {
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  color: #fff;
  margin-left: 5px;
  font-size: calc(2vmin + -3px);
}

.account-menu.false {
  transform: translateX(0px);
  display: none;
}

.account-menu.true {
  text-align: left;
  display: block;
  padding: 0px 30px 30px 30px;
  width: 130px;
  background-color: #06060a;
  position: absolute;
  top: 120px;
  left: 55px;
  border-radius: 0 50px 50px 0;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 1024px) {
  .Mobile-Menu {
    display: none;
  }

  .Desktop-Menu {
    display: inline-flex;
  }
}
