.CreateAccountForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: #fff;
}

label,
input {
  display: block;
}

input {
  width: 100%;
  border: 1px solid #fff;
  background: transparent;
  padding: 5px;
  margin-bottom: 15px;
  color: #fff;
}

label {
  margin-bottom: 10px;
  font-size: calc(6px + 2vmin);
}

form {
  width: 65%;
}

.form-container {
  background-color: #06060a;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
}

form button {
  color: #06060a;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  float: left;
  border: 0;
  background: var(--gradient);
  padding: 3px 6px 3px 6px;
  margin-top: 15px;
}

form a {
  color: #06060a;
  text-decoration: none;
  font-size: calc(5px + 2vmin);
  float: right;
  margin-top: 15px;
}

@media only screen and (min-width: 1200px) {
  form {
    width: 25%;
  }

  label {
    font-size: calc(-2px + 2vmin);
  }

  input {
    padding: 10px;
  }

  input:focus {
    border-color: red;
  }

  form a,
  form button {
    font-size: calc(-2px + 2vmin);
  }
}
