form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: #fff;
  margin: auto auto;
}

label,
input {
  display: block;
}

label:nth-child(1) {
  margin-top: 10px;
}

input {
  width: 100%;
  border: 0;
  border-radius: 25px;
  background: #fff;
  padding: 5px;
  margin-bottom: 15px;
  color: #06060a;
  font-size: calc(0px + 2vmin);
}

label {
  margin-bottom: 5px;
  font-family: kobenhavn-sans, sans-serif;
  font-size: calc(6px + 2vmin);
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form-container {
  background-color: #06060a;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
}

form button {
  color: #06060a;
  border-radius: 15px;
  font-size: calc(5px + 2vmin);
  float: left;
  border: 0;
  text-transform: uppercase;
  background: var(--gradient);
  padding: 3px 9px 3px 9px;
  margin-top: 15px;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

form a {
  color: #06060a;
  text-decoration: none;
  font-size: calc(5px + 2vmin);
  float: right;
  margin-top: 15px;
}

form a::after {
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: var(--gradient);
  transition: width 0.3s;
}

form a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.btn-row {
  width: 85%;
}

@media only screen and (min-width: 1200px) {
  form {
    width: 20%;
  }

  input,
  label {
    width: 80%;
    margin: auto auto;
  }

  label {
    font-size: calc(-2px + 2vmin);
    margin-bottom: 10px;
  }

  input {
    padding: 10px;
    margin-bottom: 20px;
  }

  input:focus {
    border-color: red;
  }

  form a {
    font-size: calc(-2px + 2vmin);
  }

  form button {
    font-size: calc(0px + 2vmin);
    padding: 2px 9px 2px 9px;
    font-family: kobenhavn-sans, sans-serif;
  }
}
